{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form class="form-signin" method="post">

        <img class="mb-4" src="{% static 'favicon/favicon.png' %}" alt="" width="72" height="72">
        {% if error %}
            <h2 class="h3 mb-5 font-weight-normal text-warning">  {{ error }} </h2>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
        <h1 class="h3 mb-3 font-weight-normal">Type authentification</h1>
        <div class="row">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        {% csrf_token %}
    </form>

    {% block javascript %}

        <script>
            // the selector will match all input controls of type :checkbox
            // and attach a click event handler
            $("input:checkbox").on('click', function () {
                // in the handler, 'this' refers to the box clicked on
                var $box = $(this);
                if ($box.is(":checked")) {
                    // the name of the box is retrieved using the .attr() method
                    // as it is assumed and expected to be immutable
                    var group = "input:checkbox[name='" + $box.attr("name") + "']";
                    // the checked state of the group/box on the other hand will change
                    // and the current value is retrieved using .prop() method
                    $(group).prop("checked", false);
                    $box.prop("checked", true);
                } else {
                    $box.prop("checked", false);
                }
            });
        </script>
    {% endblock %}


{% endblock %}